<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static "css/style.css" %}" />
  <!-- Move these if possible so they are only called when needed -->
  <link rel="stylesheet" href="{% static "artists/css/artists.css" %}" />
  <link rel="stylesheet" href="{% static "releases/css/releases.css" %}" />
  <!-- end -->
  <title>EIDOLA RECORDS | {% block title %}{% endblock %}</title>
</head>

<body>
  <header>
    <img src="{% static "img/logo_recordplayer.png" %}" class="logo"/>
    <h1>EIDOLA RECORDS</h1>
    <ul>
      <li><a class="white" href="/news/">NEWS</a></li>
      <li><a class="white" href="/releases/">RELEASES</a></li>
      <li><a class="white" href="/artists/">ARTISTS</a></li>
    </ul>
  </header>
  <div id="main">
    <div id="sidebar">
        {% block sidebar %}{% endblock %}
    </div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
  </div>
  <footer></footer>
</body>
</html>
