{% extends "base.html" %}
{% block title %}RELEASES{% endblock %}

{% block content %}
<h1>RELEASES</h1>
{% if releases_list %}
<div id="releases">
  {% for release in releases_list %}
  <div class="release">
    <div class="cover">
      <h1><a class="white" href="{% url 'releases:detail'  release.id %}">{{release.title}}</a></h1>    
      <img class="release-img" src="{{ MEDIA_URL }}{{ release.coverimage.name }}" />
    </div>
    <div  class="detail">
      {% for artist in release.artists.all %}
      <p><a href="{% url 'artists:detail' artist.id %}" class="artist-link">{{ artist.name }}</a></p>
      {% endfor %}
      <p>{{ release.description }}</p>
    </div>
  </div>
  {% endfor %}
</div>
{% else %}
<p>No Releases found</p>
{% endif %}
{% endblock %}
