{% extends "base.html" %}
{% block title %}RELEASES{% endblock %}

{% block content %}
<h1>RELEASES</h1>
{% if releases_list %}
<div class="releases">
  {% for release in releases_list %}
  <div>
    <img src="{{ MEDIA_URL }}{{ release.coverimage.name }}" />
    <h1><a href="{% url 'releases:detail'  release.id %}">{{release.title}}</a></h1>
    {% for artist in release.artists.all %}
    <p>{{ artist.name }}</p>
    {% endfor %}
    <table>
      <thead>
	<tr>
	  <td>#</td>
	  <td>Title</td>
	</tr>
      </thead>
      <tbody>
	{% for track in release.track_set.all %}
	<tr>
	  <td>{{track.sequence}}</td>
	  <td>{{ track.title }}</td>
	</tr>
	{% endfor %}
      </tbody>
    </table>
  </div>
  {% endfor %}
</div>
{% else %}
<p>No Releases found</p>
{% endif %}
{% endblock %}
